<div class="row">
  <div class="col">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="list-group">
      <a href="#" class="list-group-item">
        <div class="float-left">
          <h4 class="mb-1">Recipe name</h4>
          <p>Description</p>
        </div>
        <span class="float-right">
          <img src="" alt="" class="img-responsive">
        </span>
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
